*{
    font-family: 'Titillium Web', sans-serif;
}
.footer-fuente {
    font-size: 13px;
}
.footer-fuente {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    margin-bottom: 15px;
}
aside{
    background-color: #1f1f1f !important;
}
.sangria {
    margin-left: 15px !important;
}
.icon-right{
    position: absolute;
    right: 15px;
}
